# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Environment variables and secrets
.env
*.env

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

.gitignore

ignore_for_now/